<h1>Многоугольники</h1>

<div>
    <div>
        <p>Первый многоугольник:</p>
        {{ firstPolygon }}
    </div>
    <div>
        <p>Второй многоугольник:</p>
        {{ secondPolygon }}
    </div>
</div>